{"key": 6360, "atomic_position_unit": "cartesian", "unit_of_length": "angstrom", "energy": [-6.17463602, "eV"], "lattice_vectors": [[2.173646, 0.0, 0.0], [0.0, 1.537, 0.0], [0.0, 0.0, 1.537]], "atoms": [[0, "C", [0.0, 0.0, 0.0], [0.0, 0.0, 0.0]]]}