{"key": 6156, "atomic_position_unit": "cartesian", "unit_of_length": "angstrom", "energy": [-7.40026528, "eV"], "lattice_vectors": [[16.24, 0.0, 0.0], [0.0, 16.24, 0.0], [0.0, 0.0, 16.24]], "atoms": [[0, "C", [0.0, 0.0, 0.0], [6.276716, -0.0, 0.0]], [1, "C", [1.624, 0.0, 0.0], [-6.276716, 0.0, -0.0]]]}