{"key": 12192, "atomic_position_unit": "cartesian", "unit_of_length": "angstrom", "energy": [-0.70316916, "eV"], "lattice_vectors": [[6.525, -3.767211, 0.0], [6.525, 3.767211, 0.0], [0.0, 0.0, 43.5]], "atoms": [[0, "C", [0.0, 0.0, 0.0], [-0.0, -0.0, 0.0]], [1, "C", [8.7, -0.0, 0.0], [0.0, 0.0, 0.0]]]}